<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>

        <!-- Exchange v2 -->
        <server>
            <id>anypoint-exchange-v2</id>
            <username>${env.CA_CLIENT_ID}</username>
            <password>${env.CA_CLIENT_SECRET}</password>
        </server>

        <!-- Exchange v3 -->
        <server>
            <id>anypoint-exchange-v3</id>
            <username>${env.CA_CLIENT_ID}</username>
            <password>${env.CA_CLIENT_SECRET}</password>
        </server>

        <!-- Organization Maven repository (distributionManagement) -->
        <server>
            <id>ca.anypoint.credentials</id>
            <username>${env.CA_CLIENT_ID}</username>
            <password>${env.CA_CLIENT_SECRET}</password>
        </server>

    </servers>



</settings>
